/* ---- ----- Old header top ------ ----- */
.header-top {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    gap: 15px;
    place-items: center;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 0px;
    bottom: -px;
    width: 40px;
}

.search-icon .icon {
    background-image: url('images/search.png');
    width: 40px;
    height: 40px;
    background-position: 0 -1px;
    background-size: 30px;
    background-repeat: no-repeat;
}

.search-bar {
    grid-column: span 2;
    width: 100%;
    display: flex;
    padding-right: 22px;
}

.search-bar input {
    flex: 1;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    background: #eeeeee;
    padding-left: 40px;
    height: 25px;
}

.notification-icon div {
    display: flex;
    justify-content: right;
    background-image: url('/icons/bell.png');
    width: 25px;
    height: 25px;
    background-position: 0px 0px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 2px;
}

.user-icon { 
    border: 1px solid #fff;
    border-radius: 90px;
    width: 40px;
    height: 40px;
    background-image: url('/icons/triangle.png');
    background-position: 5px 6px;
    background-size: 30px;
    background-repeat: no-repeat;
}