// colors
$dark-mode-text: rgba(255, 255, 255, 0.8);
$dark-mode-bg: #000;
$dark-mode-border: 1px solid rgba(255, 255, 255, 0.4);
$light-mode-text: rgba(0, 0, 0, 0.8);
$light-mode-bg: #fff;
$light-mode-border: 1px solid rgba(0, 0, 0, 0.4);
