@import './styles/variables';

:root {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
}

.page {
  height: 100%;
  display: flex;
  z-index: 0;
  position: relative;
  background-color: $dark-mode-bg;
  color: $dark-mode-text;
  transition: 0.5s ease-in-out;

  &.light {
    color: $light-mode-text;
    background-color: $light-mode-bg;
    transition: all 0.5s ease-in-out;

    .wrap {
      border: $light-mode-border;

      .particle-container {
        border: $light-mode-border;
        transition: 0.5s ease-in-out;
      }
    }
  }
}

.modes-container {
  display: flex;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 120px;
  left: -35px;

  .modes {
    display: flex;

    &:hover {
      cursor: pointer;
    }

    p {
      margin: 0;
      margin-right: 10px;
    }

    .mode-box {
      margin: 0 5px;
      border: $light-mode-border;
      width: 10px;
      height: 10px;

      &.dark-active {
        border: $dark-mode-border;
      }
    }

    .mode-box.light {
      background-color: $dark-mode-bg;
    }

    .mode-box.dark {
      background-color: $light-mode-bg;
    }
  }
}

.wrap {
  flex: 1;
  margin: 35px;
  border: $dark-mode-border;
  overflow: hidden;
  display: flex;
  position: relative;
  transition: border 0.5s ease-in-out;
}

.particle-container {
  height: 100%;
  width: 100%;
  border: $dark-mode-border;
  position: absolute;
  transform: translateX(-450px) translateY(100px) rotate(45deg);
  z-index: -1;
  transition: border 0.5s ease-in-out;
}

#tsparticles {
  height: 100%;
}

.pages {
  flex: 1;
}

header {
  height: 300px;
  padding: 0 20px;
  position: absolute;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 200;
}

h1 {
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 428px) {
  header {
    height: 200px;
  }
  .particle-container {
    width: 250%;
    transform: translateX(-550px) translateY(300px) rotate(45deg);
  }
}
